# This is Git's per-user configuration file.
[include]
	path = ~/.gitconfig.local

[user]
	# Name and email should be configured in ~/.gitconfig.local
	# Example:
	# name = Your Name
	# email = your.email@example.com
[alias]
	ac = !git add -A && git commit
  co = !git checkout
	rename = !git branch -m
[http]
	cookiefile = /Users/treycaliva/.gitcookies
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[pull]
	rebase = false
[push]
  autoSetupRemote = true


# alias ciaclean='git branch --merged origin/main | grep -vE "^\s*(\*|main|develop)" | xargs -n 1 git branch -d'

